<!DOCTYPE html>
<html>
<head>
	<title>New Mongoose</title>
</head>
<body>
	<h2>Create a new Mongoose!</h2>
	<form action="/mongooses" method='post'>
		Name: <input type="text" name="name">
		Age: <input type="number" name="age">
		<input type="submit" value="Create!">
	</form>
</body>
</html>