<!DOCTYPE html>
<html>
<head>
	<title>View Profile</title>
</head>
<body>
	<h2>Name: <%= mongoose.name %></h2>
	<h2>Age: <%= mongoose.age %></h2>
	<form action="/" method='get'>
		<input type="submit" value="Back to Dashboard">
	</form>
</body>
</html>